body {
  html { font-size: 62.5%!important; }
}

body {
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.scrollable {
  overflow-y: auto;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

p.description {
  font-size: 17px;
  font-weight: 500;
  line-height: 22px;
  white-space: wrap;
  padding: 0 10px;
}

.install {
  text-align: center;
  width: 100%;
}

.install button {
  width: 50%;
  text-align: center;
}

.screenshots {
  text-align: center;
}

.screenshots img {
  width: 33%;
}

section {
  width: 100%;
}

.slide > header > h1 {
  padding: 2px 15px;
}

#throbber {
  position: fixed;
  left: 0;
  top: 94px;
  width: 100%;
  height: 6px;
  z-index: 99;
  margin: 0;
  padding: 0;
  display: block;
}

#throbber.visible {
  background: url('images/progress.gif') repeat-x left bottom / 100%;
}
